<div class="content mt-3">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">ADD USER(ADMIN)</strong>
                    </div>
                    <div class="card-body">
                            <div class="body">
                                    <div *ngIf="ValidationSummary?.IsValid == false" class="alert alert-danger">
                                        <span *ngFor="let message of ValidationSummary?.Messages">{{message}}</span>
                                    </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">First Name</label>
                                                    <input [(ngModel)]="SchoolAdmin.FirstName" class="form-control cc-exp" placeholder="First Name(*)" required>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">Middle Name</label>
                                                    <input  [(ngModel)]="SchoolAdmin.MiddleName" class="form-control cc-exp">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label  class="control-label mb-1">Last Name</label>
                                                    <input [(ngModel)]="SchoolAdmin.LastName" class="form-control cc-exp" placeholder="Last Name(*)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">User Name</label>
                                                            <input [(ngModel)]="SchoolAdmin.UserName"  class="form-control cc-exp"  placeholder="User Name(*)" required >
                                                        </div>
                                                    </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">Password</label>
                                                    <input  [(ngModel)]="SchoolAdmin.Password" type="password" class="form-control cc-exp" placeholder="Password(*)" required>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">Confirm Password</label>
                                                    <input  [(ngModel)]="SchoolAdmin.ConfirmPassword" type="password" class="form-control cc-exp"placeholder="Confirm Password(*)" required >
                                                    <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">Email</label>
                                                    <input [(ngModel)]="SchoolAdmin.Email"  class="form-control cc-exp"  placeholder="Email(*)" required>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-1">Primary Contact Number</label>
                                                    <input [(ngModel)]="SchoolAdmin.PrimaryContactNo" class="form-control cc-exp"  placeholder="Primary Contact Number(*)" required >
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label  class="control-label mb-1">Secondary Contact Number</label>
                                                    <input  [(ngModel)]="SchoolAdmin.SecondaryContactNo" class="form-control cc-exp" >
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-check">
                                                        <div class="checkbox">
                                                            <label for="checkbox1" class="form-check-label ">
                                                                <input type="checkbox" [(ngModel)]="SchoolAdmin.IsSchoolSuperAdmin" (change)="toggleVisibility($event)" id="checkbox1" name="checkbox1" value="isSuperAdmin" class="form-check-input">IsSuperAdmin
                                                            </label>
                                                        </div>
                                            <button (click)="CreateUser()" class="btn btn-primary btn-sm" type="submit">
                                                <i class="fa fa-dot-circle-o"></i> CREATE USER
                                            </button>
                                        </div>
                                        </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>