    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="javascript:void(0);">Admin<b>SMS 1.0</b></a>
                <small>Admin School Management System.</small>
            </div>
            <div class="login-form">
                    <div *ngIf="ValidationSummary?.IsValid == false" class="alert alert-danger">
                            <span *ngFor="let message of ValidationSummary?.Messages">{{message}}</span>
                    </div>
                    <div *ngIf="ValidationMessage?.length > 0" class="alert alert-danger">{{ValidationMessage}}</div>
                    <div *ngIf="Message?.length > 0" class="alert alert-success">
                        <p>Your password has been changed.</p>
                    </div>
                <form>
                    <div *ngIf="!Message">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" [(ngModel)] = "OldPassword" class="form-control" name="oldpassword" placeholder="OldPassword(*)" required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" [(ngModel)] = "NewPassword" class="form-control" name = "newpassword" placeholder="NewPassword(*)" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" [(ngModel)] = "ConfirmPassword" class="form-control" name = "confirmpassword" placeholder="ConfirmPassword(*)" required>
                    </div>
                        <button (click)="ChangePassword()" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Change Password</button>
                    </div>
                    <div *ngIf="Message" class="register-link">
                            <p>Click <a [routerLink]="['/']"> here</a> to login.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>