<!-- <section class="content">
  <div class="container-fluid">        
      <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="header">
                      <div class="row clearfix">
                          <div class="col-xs-12 col-sm-6">
                               <h4>USERS(ADMINS)</h4>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="body">
                            <div class="body table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>FIRST NAME</th>
                                      <th>MIDDLE NAME</th>
                                      <th>LAST NAME</th>
                                      <th>USERNAME</th>
                                      <th>EMAIL</th>
                                      <th>PHONE NUMBER</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let user of Users">
                                      <td>{{user.FirstName}}</td>
                                      <td>{{user.MiddleName}}</td>
                                      <td>{{user.LastName}}</td>
                                      <td>{{user.UserName}}</td>
                                      <td>{{user.Email}}</td>
                                      <td>{{user.PrimaryContactNo}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->


<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">USERS(ADMINS)</strong>
      </div>
      <div class="card-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">FIRST NAME</th>
                      <th scope="col">MIDDLE NAME</th>
                      <th scope="col">LASTNAME</th>
                      <th scope="col">USERNAME</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">PHONENUMBER</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of Users">
                  <td>{{user.FirstName}}</td>
                  <td>{{user.MiddleName}}</td>
                  <td>{{user.LastName}}</td>
                  <td>{{user.UserName}}</td>
                  <td>{{user.Email}}</td>
                  <td>{{user.PrimaryContactNo}}</td>
              </tr> 
              </tbody>
          </table>
      </div>
  </div>
</div>
