<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p>{{message}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Ok')">Ok</button>
    </div>
</ng-template>