    <aside id="left-panel" class="left-panel">
      <app-leftnav></app-leftnav>
    </aside>

   <div id="right-panel" style="width:80%;" class="right-panel">
      <app-header></app-header>
      <router-outlet></router-outlet>
   </div>