<div class="container">
  <div class="login-content">
      <div class="login-logo">
          <!-- <a href="index.html">
              <img class="align-content" src="assets/images/logo.png" alt="">
          </a> -->
                <a href="javascript:void(0);">Admin<b>SMS 1.0</b></a>
                <small>Admin School Management System.</small>
      </div>
      <div class="login-form">
            <div *ngIf="ValidationMessage?.length > 0" class="alert alert-danger">{{ValidationMessage}}</div>
            <div *ngIf="Message?.length > 0" class="alert alert-success">
                Your updated password is:&nbsp; <strong>{{Message}}</strong>. Use this password to reset.
            </div>
          <form>
              <div *ngIf="!Message">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" [(ngModel)]="email" class="form-control" name = "email" placeholder="Email" required>
                     </div>
                    <button (click)="Submit()" type="submit"  class="btn btn-primary btn-flat m-b-15">Submit</button>
              </div>

              <div *ngIf="Message">
                    <div class="register-link m-t-15 text-center">
                            <p>Click <a [routerLink]="['/resetpassword']"> here</a> to reset the password.</p>
                        </div>
              </div>

                  <div class="register-link m-t-15 text-center">
                        <p>Back to Login <a [routerLink]="['/']"> Sign in</a></p>
                    </div>
          </form>
      </div>
  </div>
</div>