        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="javascript:void(0);">Admin<b>SMS 1.0</b></a>
                    <small>Admin School Management System.</small>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" [(ngModel)] = "UserName" class="form-control" name = "username" placeholder="UserName">
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" [(ngModel)] = "Email" class="form-control" name = "email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" [(ngModel)] = "Password"  name = "password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>ConfirmPassword</label>
                            <input type="password" [(ngModel)] = "ConfirmPassword"  name = "confirm" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="checkbox">
                            <label>
                            <input type="checkbox">
                                I read and agree to the <a href="javascript:void(0);">terms of usage</a>.
                            </label>
                        </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a [routerLink]="['/']"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
