<div class="content mt-3">
  <div class="col-sm-12">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <strong class="card-title">ADD STANDARD</strong>
                  </div>
                  <div class="card-body">
                          <div class="body">
                                  <div *ngIf="ValidationSummary?.IsValid == false" class="alert alert-danger">
                                      <span *ngFor="let message of ValidationSummary?.Messages">{{message}}</span>
                                  </div>
                                      <div class="row">
                                          <div class="col-4">
                                              <div class="form-group">
                                                  <label class="control-label mb-1">Standard Name</label>
                                                  <input [(ngModel)]="StandardName" class="form-control cc-exp" placeholder="Standard Name(*)" required>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-check">
                                        <button (click)="AddStandard()" class="btn btn-primary btn-sm" type="submit">
                                          <i class="fa fa-dot-circle-o"></i> ADD
                                      </button>
                                      </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
