    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="javascript:void(0);">Admin<b>SMS 1.0</b></a>
                <small>Admin School Management System.</small>
            </div>
            <div class="login-form">
                    <div *ngIf="ValidationMessage?.length > 0" class="alert alert-danger">{{ValidationMessage}}</div>
                <form>
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" [(ngModel)]="UserName" class="form-control" name="username" placeholder="UserName" required autofocus>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="Password" class="form-control" name = "password" placeholder="Password"  required>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember Me </label>
                        <label class="pull-right">
                        <a [routerLink]="['/forgotpassword']">Forgotten Password?</a>
                        </label>
                    </div>
                        <button (click)="Login()" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                    <div class="register-link m-t-15 text-center">
                        <p>Don't have account ? <a [routerLink]="['/register']"> Sign Up Here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>