<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">USERS(ADMINS)</strong>
      </div>
      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">FIRST NAME</th>
                      <th scope="col">MIDDLE NAME</th>
                      <th scope="col">LASTNAME</th>
                      <th scope="col">USERNAME</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">PHONENUMBER</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of Users">
                  <td>{{user.FirstName}}</td>
                  <td>{{user.MiddleName}}</td>
                  <td>{{user.LastName}}</td>
                  <td>{{user.UserName}}</td>
                  <td>{{user.Email}}</td>
                  <td>{{user.PrimaryContactNo}}</td>
                  <td>
                      <button (click)= "OpenConfirmDialogueBox(user)" type="button" class="btn btn-default btn-sm">
                      <span class="fa fa-trash"></span>
                      </button>
                  </td>
              </tr> 
              </tbody>
          </table>
      </div>
  </div>
</div>
<app-modalconfirm [message]='ModalMessage' #confirmationModal (closeReasonEvent)='getConfirmationResult($event)'></app-modalconfirm>
