<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">STANDARDS</strong>
      </div>
      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col"># NO</th>
                      <th scope="col">NAME</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let standard of Standards; let slNo = index">
                  <td>{{slNo + 1}}</td>  
                  <td>{{standard.Name}}</td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
